div.hidden {
  display: none;
}

div.active {
  border: 5px solid rgb(34, 164, 196);
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}
/* This shows the active div. */
div.active {
  /*  border: 5px solid red; */
    display: block;
  }
  /* This hides the inactive divs */
div.inactive {
    display: none;
}

button.active{
  background:rgb(185, 219, 228);
  color: white,
}